body {
  margin: 0;
}

header {
  background-color: goldenrod;

  & nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & li {
      padding: .5em;

      &.active {
        background-color: bisque;
      }

      &:hover {
        background-color: skyblue;
      }
    }
  }
}

main {
  padding: 1em;
  background-color: bisque;
}

footer {}